<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Font Linking-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap"rel="stylesheet"/>
    

    <!--Style Linking-->
    <link rel="stylesheet" href="./partials/header.ejs" />
    <link rel="stylesheet" href="./partials/footer.ejs" />
    <link rel="stylesheet" href="../public/styles/on_click_create_club.css" />
  
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>
  <body>
    <!--Header-->
    <header>
        <div>
          <a href="#" class="logo"><img src="/Uni-Club-Front-End/public/images/logo.png" alt="Logo" class="logo-image"></a>
        </div>
        <input type="checkbox" id="nav_check" hidden="">
        <nav class="navbar">
          <ul>
            <li>
              <a href="" class="active">Home</a>
            </li>
            <li>
              <a href="">Clubs</a>
            </li>
            <li>
              <a href="">Content Manager</a>
            </li>
            <li>
              <a href="">Event Requests</a>
            </li>
            <li>
              <a href="">Club Manager</a>
            </li>
  
          </ul>
        </nav>
  
        <div class="icons">
          <div class="icons">
            <i class="fas fa-search" id="search-btn"></i>
            <i class="fas fa-user" id="log-btn"></i>
          </div>
  
          <form action="" class="search-bar-container">
            <input type="search" id="search-bar" placeholder="search here...">
            <label for="search-bar" class="fas fa-search"></label>
          </form>
        </div>
  
        <label for="nav_check" class="sideBar icons">
          <div></div>
          <div></div>
          <div></div>
        </label>
      </header>
      <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
html{
    font-size: 62.4%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;    

}
::selection{
    background:var(--yellow);
    color: #fff
}

:root{
    --yellow: #FFD700;
}

* {
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .2s linear;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header {
    position: fixed;
    height: 100px;
    top:0; left:0; right:0;
    background: #193635;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1%; /* Adjusted padding */
   
}

.logo-image {
    width: 90px;
    height: 90px;
    margin-top: 80px;
    margin-left:60px;
}

header .logo span{
    color:var(--yellow);
}

header nav ul {
    display: flex;
}
header nav ul li a {
    display: inline-block;
    color: #ffffff;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
    font-size: 2rem; 
    margin-right: 40px
}

header .navbar a:hover{
    color:var(--yellow);
}

header nav ul li a.active {
    border-bottom-color: var(--yellow);
}

header .icons i{
    font-size: 2.5rem;
    color:#fff;
    cursor: pointer;
    margin-right: 2rem;
}


header .icons i:hover{
    color:var(--yellow);
}

header .search-bar-container{
    position: absolute;
    top: 90%; left:500; right:0;
    padding: 1.5rem;
    background: #193635;
    border-top: .1rem solid rgba(25,54,53,.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    width:300px;
    
}

header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    
}

header .search-bar-container #search-bar{ 
    width:100%;
    padding: 1rem;
    text-transform: none;
    color: #333;
    font-size: 1.7rem;
    border-radius: .5rem;
    
}

header .search-bar-container label{
    color:#fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}

header .search-bar-container label:hover{
    color:var(--yellow)
}

.sideBar {
    cursor: pointer;
    display: none;
}
.sideBar div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #fbfbfb;
}

@media only screen and (max-width: 1300px) {
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 900px) {
    .sideBar {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 70px;
        width: 100%;
        background: #193635;
        padding: 30px;
        transition: 0.3s;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li a {
        margin: 5px 0;
    }

    header .icons i#search-btn {
        position: absolute;
        top: 37px;
        right: 120px;    
    }

    header .icons i#log-btn {
        position: absolute;
        top: 37px;
        right: 70px;    
    }

    
}

      </style>
  </body>