<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Convert | Export html Table to CSV & EXCEL File</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles/eventsRequests.css">
    <!-- <link rel="stylesheet" href="/styles/header.css"> -->
    <!-- <link rel="stylesheet" href="/styles/footer.css"> -->

</head>

<body>
    <header>
        <div>
            <a href="#" class="logo"><img src="/images/logo.png" alt="Logo" class="logo-image"></a>
        </div> 
        <input type="checkbox" id="nav_check" hidden>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="" class="active">Home</a>
                </li>
                <li>
                    <a href="">Clubs</a>
                </li>
            </ul>
        </nav>

        <div class="icons">
            <div class="icons">
                <i class="fas fa-search " id="search-btn"></i>
                <i class="fas fa-user" id="log-btn"></i>
            </div>
    
            <form action="" class="search-bar-container">
                <input type="search" id="search-bar" placeholder = "search here...">
                <label for="search-bar" class="fas fa-search"></label>
            </form>
            
        </div>

        <label for="nav_check" class="sideBar icons">
            <div></div>
            <div></div>
            <div></div>
        </label>

        

    </header>
<!--Font Linking-->
<script>
    let searchBtn = document.querySelector('#search-btn');
    let searchBar = document.querySelector('.search-bar-container');

    searchBtn.addEventListener('click', ()=>{
        searchBtn.classList.toggle('fa-times');
        searchBar.classList.toggle('active');
    });
</script> 
    <main class="table" id="customers_table">
        <section class="table__header">
            <h1>Event Requests</h1>
            <div class="input-group">
                <input type="search" placeholder="Search Request...">
                <img src="/images/images/search.png" alt="search">
            </div>
            
        </section>
        
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Request <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Request Date <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Status <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Action</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <img src="/images/images/Zinzu Chan Lee.jpg" alt="">Zinzu Chan Lee</td>
                        <td> 17 Dec, 2022 </td>
                        <td>
                            <p class="status approved">Approved</p>
                        </td>
                        <td><button class="approve-button">Approve</button> <button class="reject-button">Reject</button></td>
                        <td><button class="details-button"><img src="/images/images/Details.png" alt="Button Image"></button></td>

                    </tr>
                    <tr>
                        <td><img src="/images/images/Sonal Gharti.jpg" alt=""> Sonal Gharti </td>
                        <td> 14 Mar, 2023 </td>
                        <td>
                            <p class="status pending">Pending</p>
                            <td><button class="approve-button">Approve</button> <button class="reject-button">Reject</button></td>
                        </td>
                        <td><button class="details-button"><img src="/images/images/Details.png" alt="Button Image"></button></td>
                    </tr>
                    <tr>
                        <td><img src="/images/images/Alson GC.jpg" alt=""> Alson GC </td>
                        <td> 25 May, 2023 </td>
                        <td>
                            <p class="status approved">Approved</p>
                            <td><button class="approve-button">Approve</button> <button class="reject-button">Reject</button></td>
                            <td><button class="details-button"><img src="/images/images/Details.png" alt="Button Image"></button></td>


                        </td>
                        
                    </tr>
                    <tr>
                        <td><img src="/images/images/Sarita Limbu.jpg" alt=""> Sarita Limbu </td>
                        <td> 23 Apr, 2023 </td>
                        <td>
                            <p class="status pending">Pending</p>
                            <td><button class="approve-button">Approve</button> <button class="reject-button">Reject</button></td>
                            <td><button class="details-button"><img src="/images/images/Details.png" alt="Button Image"></button></td>


                        </td>
                    </tr>
                    <tr>
                        <td><img src="/images/images/Alex Gonley.jpg" alt=""> Alex Gonley </td>
                        <td> 23 Apr, 2023 </td>
                        <td>
                            <p class="status rejected">Rejected</p>
                            <td><button class="approve-button">Approve</button> <button class="reject-button">Reject</button></td>
                            <td><button class="details-button"><img src="/images/images/Details.png" alt="Button Image"></button></td>


                        </td>
                    </tr>
                    <tr>
                        <td><img src="/images/images/Alson GC.jpg" alt=""> Jeet Saru </td>
                        <td> 20 May, 2023 </td>
                        <td>
                            <p class="status approved">Approved</p>
                        </td>
                        <td><button class="approve-button">Approve</button> <button class="reject-button">Reject</button></td>
                        <td><button class="details-button"><img src="/images/images/Details.png" alt="Button Image"></button></td>


                    </tr>
                    <tr>
                        <td><img src="/images/images/Sarita Limbu.jpg" alt=""> Aayat Ali Khan </td>
                        <td> 30 Feb, 2023 </td>
                        <td>
                            <p class="status pending">Pending</p>
                        </td>
                        <td><button class="approve-button">Approve</button> <button class="reject-button">Reject</button></td>
                        <td><button class="details-button"><img src="/images/images/Details.png" alt="Button Image"></button></td>


                    </tr>
                    <tr>
                        <td><img src="/images/images/Alex Gonley.jpg" alt=""> Alson GC </td>
                        <td> 22 Dec, 2023 </td>
                        <td>
                            <p class="status rejected">Rejected</p>
                        </td>
                        <td><button class="approve-button">Approve</button> <button class="reject-button">Reject</button></td>
                        <td><button class="details-button"><img src="/images/images/Details.png" alt="Button Image"></button></td>


                    </tr>
                    <tr>
                        <td><img src="/images/images/Alex Gonley.jpg" alt=""> Alson GC </td>
                        <td> 22 Dec, 2023 </td>
                        <td>
                            <p class="status rejected">Rejected</p>
                        </td>
                        <td><button class="approve-button">Approve</button> <button class="reject-button">Reject</button></td>
                        <td><button class="details-button"><img src="/images/images/Details.png" alt="Button Image"></button></td>


                    </tr>
                    <tr>
                        <td><img src="/images/images/Alex Gonley.jpg" alt=""> Alson GC </td>
                        <td> 22 Dec, 2023 </td>
                        <td>
                            <p class="status approved">Approved</p>
                        </td>
                        <td><button class="approve-button">Approve</button> <button class="reject-button">Reject</button></td>
                        <td><button class="details-button"><img src="/images/images/Details.png" alt="Button Image"></button></td>

                    </tr>
                    <tr>
                        <td><img src="/images/images/Alex Gonley.jpg" alt=""> Alson GC </td>
                        <td> 22 Dec, 2023 </td>
                        <td>
                            <p class="status rejected">Rejected</p>
                        </td>
                        <td><button class="approve-button">Approve</button> <button class="reject-button">Reject</button></td>
                        <td><button class="details-button"><img src="/images/images/Details.png" alt="Button Image"></button></td>


                    </tr>
                    <tr>
                        <td><img src="/images/images/Alex Gonley.jpg" alt=""> Alson GC </td>
                        <td> 22 Dec, 2023 </td>
                        <td>
                            <p class="status pending">Pending</p>
                        </td>
                        <td><button class="approve-button">Approve</button> <button class="reject-button">Reject</button></td>
                        <td><button class="details-button"><img src="/images/images/Details.png" alt="Button Image"></button></td>


                    </tr>
                </tbody>
            </table>
        </section>

        <div id="reject" class="reject-card1">
    
            <input type="text" id="rejectionReason" placeholder="Enter rejection reason...">
            <button id="sendButton">Send</button>
            <button id="closeButton2" onclick="closePopup2()">Close</button>
        </div>

<section>
        <div id="popup" class="popup-card" style="display: none;" style="margin: auto;">
            <div class="wrapper">
                <div class="flip-card">
                  <div class="front card">
                    <table class="custom-table">
                       <tr>
                        <td class="column1"><img src="/images/Alex Gonley.jpg" alt=""></td>                                   
                       </tr>           
                    </table>
                  </div>
                </div>
              </div>


            <button id="closeButton" onclick="closePopup()">Close</button >
        </div>
    </section>

   
    
        <script>
            // Function to show the popup card
            function showPopup() {
                document.getElementById("popup").style.display = "block"
                
            }
        
            // Function to close the popup card
            function closePopup() {
                document.getElementById("popup").style.display = "none";
            }
        
            // Attach click event listener to the button
            var buttons = document.querySelectorAll('.details-button');
                 buttons.forEach(function(button)
                    {
                        button.addEventListener('click', showPopup);
                    });
        </script>


        <script>
            function showPopup2() {
                var popup = document.getElementById("reject");
                popup.style.display = "block";
            }
            
            function closePopup2() {
                var popup = document.getElementById("reject");
                popup.style.display = "none";
            }
            
            var sendButton = document.getElementById("sendButton");
            sendButton.addEventListener("click", function() {
                var rejectionReason = document.getElementById("rejectionReason").value;
                // Here you can handle what to do with the rejection reason, such as sending it to a server
                console.log("Rejection Reason:", rejectionReason);
            });
            
            var rejectButtons = document.querySelectorAll('.reject-button');
            
            rejectButtons.forEach(function(button) {
                button.addEventListener('click', showPopup2);
            });
        </script>



    </main>
    <footer>
        <div class="footerContainer">
            <div class="socialIcons">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div class="footerNav">
                <ul><li><a href="">Home</a></li>
                    <li><a href="">Uskudar University</a></li>
                    <li><a href="">About SKS</a></li>
                    <li><a href="">@sks.uskudar.edu.tr</a></li>
                </ul>
            </div>
            
        </div>
        <div class="footerBottom">
            <p>Copyright &copy;2024</p>
        </div>
    </footer>
    <script src="script.js"></script>

</body>

</html>
