<head>
  <link rel="stylesheet" href="../public/styles/popupcontentedit.css" />
</head>
<div class="popup-content">
  <div class="mainContainer">
    <div class="leftSide">
        
    </div>
    <div class="rightSide">
        
    </div>
  </div>
  <button id="closeButton" onclick="closePopup()">Close</button>
</div>
