<head>
    <link rel="stylesheet" type="text/css" href="../public/styles/popupDeleteClub.css">
</head>

<div class="popup-content">
    <!-- Render the fetched popup content here -->
    <h2>Delete Club</h2>
    <section>
        <div class="wrapper">
            <div class="flip-card">
                <div>
                    <%var clubId = clubId%>
                    <%console.log("club Id from popuppp: " + clubId)%>
                    <form action="/DeleteClubRequest?clubId=<%= clubId %>" method="POST" class="form" name="DeleteClub" id="DeleteClub" >
                        <p>Are you sure you want to delete the club with id <%= clubId %> </p>
                        <div class="buttonContainer">
                            <button id="deleteButton" type="submit" style=" border-radius: 0; cursor: pointer; color: white; background-color: #a61111; margin-top: 20px; width: 250px; font-size:13px; margin-left: 20px; position: relative;">Delete</button>
                            

                        </div>
                    </form>
                    <button id="cancelButton" onclick="closePopup()" style="cursor: pointer; color: white; background-color: #289e46; margin-top: 5px; font-size:13px; width: 250px; margin-left: 10px; ">cancel</button>
                </div>
            </div>
        </div>
    </section>
    <script src="../public/scripts/clubManagerSks.js"></script>
</div>