<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <!--Style Linking-->
    <link rel="stylesheet" href="/styles/aboutUs.css">
    
</head>

<body>
    <%- include("./partials/header.ejs") %>

    <div class="aboutUsContainer">
        <div class=" item logo-image"><img src="images/logo.png" alt="Logo"></div>
        <div class=" itemTop header">About Us</div>            
        <div class=" itemTop content">
                As a university, we are very concerned with the "Disability Student Unit". We do not accept the fact that a student cannot have the opportunities that other students have because of any disability. For this reason, we aim to ensure that all disabled students have access to all the opportunities that everyone has.
                10-15% of our country lives in need of direcDt support. That means caring for people between 8-10 million. The greatest difference between developed and undeveloped societies is related to how disadvantaged people are treated. The development of countries is measured with this. If we want to be in the category of developed countries, we must protect disadvantaged people; We must ensure that everyone has access to the possibilities they have and what they have achieved. Because no system that ignores disadvantaged people who need someone else's help can make the society happy. It is the duty of humanity to protect the handicapped.
                In this context, we created the "Disability Student Unit". We will identify the needs of students with disabilities for academic, administrative, physical, psychological, social and welfare needs and determine what needs to be done to meet these needs.
                Let's go hand in hand for an education without barriers...

                Prof. Nevzat Tarhan
                President
                <br> <br>

                The disability student unit is tasked with conducting studies to ensure that students who are studying in our university and have special needs due to any disability can reach all the facilities in the university as comfortably as other students. In Üsküdar University, the Department of Disability Students under the supervision of the Vice Rector, is responsible for the management of students with disabilities in the academic, administrative, physical, psychological well-being and social areas and to determine what should be done to meet these needs and to plan, implement, develop and assess the results of the work done. The working procedures and principles of the Disabled Student Unit are prepared in accordance with Article 8 of the Regulation on the Advisory and Coordination of Higher Education Institutions.
                <br> <br>
                Guidelines for the structuring and working principles of the Disability Students Unit.

                <br> <br>
        </div>
    </div>

    <div>
        <br> <br>
    </div>
</body>
<%- include("./partials/footer.ejs") %>
</html>