.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Adjust as needed */
}

.card {
  display: flex;
  background-color: #dfecff;
  border: none;
}

.imgBx {
  width: 500px;
  height: 250px;
  flex: 1;
}

.imgBx img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.contentBx {
  width: 500px;
  background: #ffd700;
  padding: 20px 60px 20px 100px;
  flex: 1;
}

@media (max-width: 1000px) {
  .container {
      flex-direction: column;
  }

  .card {
      max-width: 80%;
  }

  .imgBx, .contentBx {
      width: 100%;
      padding: 20px;
  }
}
