/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}
body{
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #343F4F;
}

li a{
    text-decoration: none;
    color: #1a1a1a;
    font-family:Tajawal ;
    border-right: 1px #dfecff solid;
}
.wrapper {
    max-width: 1800px;
    width: 100%;
    position: relative;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #000;
    color: #dfecff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    z-index: 1;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -48px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 2) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 350px;
    list-style: none;
    background: #dfecff;
    cursor: pointer;
    flex-direction: column;
    border-radius: 8px;
  }
  .carousel .card .img {
    background: #dfecff;
    height: 350px;
    width: 600px;
  }
  .card .img img {
    width: 360px;
    height: 600px;
    object-fit: cover;
    border: 4px solid #000;
  }

  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }

/**/

.container{
    position: relative;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
}

.container .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfecff;  
    margin: 100px 0;
    border: none;
}

.container .card:nth-child(odd)
{
    flex-direction: row;
}

.container .card:nth-child(even)
{
    flex-direction: row-reverse;
    /*text-align: right;*/
}

.container .card .imgBx{
    position: relative;
    left: 25px;
    width: 600px;
    height: 350px;
    z-index: 1;
}

.container .card .imgBx img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 4px solid #000;
}

.container .card .contentBx{
    position: relative;
    right: 25px;
    width: 600px;
    height: 350px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px 20px 80px;
}

.container .card .contentBx:before{
    content: '';
    position: absolute;
    top: -50px;
    bottom: -50px;
    left: 0;
    right: 0;
    background: #fff;
    z-index: -1;
}

.container .card .contentBx h2{
    font-size: 20px;
    color: #000;
    z-index: 1;
}

.container .card .contentBx h6{
    font-size: 20px;
    color: #000;
    margin-top: 10px;
    font-weight: bold;
}

.container .card .contentBx p
{
    margin-top: 10px;
    color: #fff;
    font-size: 12.5px;
}

.container .card .contentBx span
{
    margin-top: 10px;
    font-size: 15px;
    color: #000;
    font-weight: normal;
}



@media (max-width: 1000px)
{
    .container .card
    {
        flex-direction: column;
        max-width: 350px;
        margin: 25px 25px;
    }
    .container .card .imgBx
    {
        width: 100%;
        height: 250px;
        left: 0;
    }
    .container .card .contentBx
    {
        width: 100%;
        height: auto;
        right: 0;
        padding: 30px;
        text-align: center;
    }
    .container .card .contentBx:before
    {
        top: 0;
        bottom: 0;
    }
    .container .card:nth-child(even) .imgBx
    {
    left: 0;
    }
    .container .card:nth-child(even) .contentBx
    {
    right: 0;
    padding: 30px;
    }
}

.overlay{
  background-color: white;
  position: absolute;
  justify-content: center;
  align-items: center;
  padding: 20px 40px 20px 80px;
  width: 100%;
  height: 85%;
  top: 30;
  right: 0;
  left: 0;
  bottom: -30px;
  transition: 0.3s;
  transform: scale(0);
}
.dropdown-item {
  font-size: 16px;
}
.contentBx:hover .overlay{
  transform: scale(1);
  
}

.statu-00{
  position: absolute;
  bottom: 340px;
  left: 275px;
  background-color: green;
  border-radius: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.statu-01{
  position: absolute;
  bottom: 340px;
  left: 275px;
  background-color: red;
  border-radius: 50%;
  z-index: 1;
  width: 55px;
  height: 55px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.statu-02{
  position: absolute;
  bottom: 340px;
  left: 275px;
  background-color: orange;
  border-radius: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* search bar*/

#event-search-form {
  margin-left: 10%;
  position: absolute;
  background: #193635;
  height: 40px;
  border-radius: 40px;
  

}

#event-search-form:hover > #event-search-input {
  width: 240px;
  padding: 0 6px;
}

#event-search-form:hover > .searchButton {
background: white;
color : #193635;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #193635;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

#event-search-input {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

}

@media screen and (max-width: 620px) {
#event-search-form:hover > #event-search-input {
  width: 150px;
  padding: 0 6px;
}
}