/*
Color Pallete
#193635  -> Dark green
#0AB3AD  -> Light green 
#7BD3D1  -> Tiffany Blue
#FFD700  -> Gold
#000000  -> Black
#FFFFFF  -> White
*/
html,body {
    height: 100%;
    min-height: 1000px;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
h1 {
    color: #193635;
}
h2{
    margin: 0;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}
a:active {
    color: #0AB3AD;
    cursor: grabbing;
}
.sidebar1 {
    width: 325px; /* Adjust sidebar width as needed */
    background-color: gainsboro;
    border-radius: 5px;
    font-size: 1.5rem;
    padding-top: 10vh;
}

@media (max-width: 800px) { /* Adjust breakpoint as needed */
    .sidebar1 {
        display: none;
    }
}

.items {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    box-shadow: 4px 17px 27px -18px rgba(0,0,0,0.81);
    height: 75px;
    align-items: center;
    font-size: 1.5rem;
    padding-left: 30px;
    background: #193635;
    color: #FFFFFF;
    border-radius: 5px;
}


.items:hover{
    cursor: pointer;
    height: 80px;
    font-size: 1.7rem;
}

.icon img{
    max-width: 50px;
}

.logo-side img{
    max-width: 150px;
}

.logo-side{
    display: flex;
    margin-top: 30px;

}
.container1 {
    display: flex;
    height: 100%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .header-club > div > h2 {
        max-height: 20%; /* Adjust height as needed */
        font-size: auto; /* Adjust font size as needed */
    }
}
.ContentBody {
    flex: 1;
    background-color: #FFFFFF;
    padding: 20px; /* Add padding for spacing */
}

#my-profile-content {
    background-size: auto;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    background-position: center;
    height: 100%; /* Ensure it takes the full height of the ContentBody */
    display: flex;
}
  

.cnt1 img {
    max-width: 100px;
}

.cnt1 button {
    width: 100px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
    size: 5px;
    background-color: #193635;
    margin-bottom: 10px;
    color: white !important;
}
.cnt1 button:hover{
    cursor: pointer;
}
.cnt2 {

    display: flex;
    flex-direction: column;
    align-items: baseline;  
    font-size: 1rem;
    max-width: 300px;

}
.cnt3 {
    display: flex;
    font-size: 1.2rem;
    align-items: top;
    justify-content: center;
}
.cnt3 h2{
    transform: translate(-50%,10%);
}
.bio-textbox {
    max-height: 150px;
    max-width: 300px;
    height: 150px;
    width: 300px;
    padding: 10px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    border: 1px solid #ccc; /* Add border for visual clarity */
    border-radius: 5px; /* Add border radius for rounded corners */
    margin-top: 10px; /* Add margin to create space */
    overflow: scroll;
}

@media (max-width: 1230px) { /* Adjust breakpoint as needed */
    .bio-textbox {
        width: 100%; /* Set width to 100% when screen width is less than or equal to 600px */
        max-width: none; /* Remove max-width constraint */
        height: auto; /* Allow height to adjust based on content */
    }
}

.cnt4{
    display: flex;
    flex-direction: column;
    font-size: 1.75rem;
    gap: 10px;
}
.contact-info{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.contact-info img {
    height: 35px;
    margin-right: 5px;
}
.contact-info div {
    padding: 5px;
}
.socialmedia-links img{
    height: 35px;
    margin-right: 20px;
}

.socialmedia-links button{
    background-color: transparent;
    margin: 0;
    padding: 0;
    align-self: center;
    border: none;
}
.card-container {
    display: flex;
    align-items: start;
    flex: 1;
    margin-bottom: 20px;
}

.card{
    background-color: #d3d3d3;
    border: 5px solid black;
    margin: 70px 20px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    max-width: 400px;
}

.image-container{
    width: 100%;
    height: 65%;
    position: relative;
    border-bottom: 5px solid black;
}
.text-container{
    width: 100%;
    height: 35%;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-left: 2px;
    font-size: 1.65vh;
}
.card-details span{
    font-size: 1.9vh;
    margin-right: 10px;
    font-weight: 600;
}

.text-container > div{
    flex: 50%;
}


.image-container img{
    width: 100%;
    height: 100%;
}

.Active{
    position: absolute;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: green;
    top: 1px;
    right: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*------ FONT RELATED -----*/
    font-size: 2vh;
    color: white;
    font-weight: 600;
}
.not-active{
    position: absolute;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: orange;
    top: 1px;
    right: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*------ FONT RELATED -----*/
    font-size: 2vh;
    color: white;
    font-weight: 600;
}

.canceled{
    position: absolute;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: red;
    top: 1px;
    right: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*------ FONT RELATED -----*/
    font-size: 2vh;
    color: white;
    font-weight: 600;
}


/* CSS for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 11111;
    left: 0;
    top: 0;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    height: 900px;
    width: 500px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.content-section {
    display: flex;
    flex-direction: row;
}
