/*
Color Pallete
#193635  -> Dark green
#0AB3AD  -> Light green 
#7BD3D1  -> Tiffany Blue
#FFD700  -> Gold
#000000  -> Black
#FFFFFF  -> White
*/

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
h1 {
    color: #193635;
}
h2{
    margin: 0;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}
a:active {
    color: #0AB3AD;
    cursor: grabbing;
}
.sidebar1 {
    width: 325px; /* Adjust sidebar width as needed */
    background-color: gainsboro;
    border-radius: 5px;
    font-size: 1.5rem;
    padding-top: 10vh;
}

@media (max-width: 800px) { /* Adjust breakpoint as needed */
    .sidebar1 {
        display: none;
    }
}

.items {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    box-shadow: 4px 17px 27px -18px rgba(0,0,0,0.81);
    height: 75px;
    align-items: center;
    font-size: 2rem;
    padding-left: 30px;
    background: #193635;
    color: #FFFFFF;
    border-radius: 5px;
}


.items:hover{
    cursor: pointer;
    height: 80px;
    font-size: 2.1rem;
}

.icon img{
    max-width: 50px;
}

.logo-side img{
    max-width: 300px;
}

.logo-side{
    display: flex;
    margin-top: 30px;
    position: absolute;
    flex-direction: column;
    top: -30px;
    left: 3;
    gap: 5px;
}

.logo-side1{
    display: flex;
    margin-top: 30px;
    position: absolute;
    flex-direction: column;
    top: -60px;
    left: 3;
    gap: 5px;
}


.cnt6{
    display: flex;
    margin-top: 30px;
    position: absolute;
    top: 0px;
    right: 150px;
}
.cnt6 button{
   border: 1px solid black;
   border-radius: 5px;
   scale: 1.5;
   width: 80px;
   background-color: #193635;
   color: white;
}
.container1 {
    display: flex;
    height: 100%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .header-club > div > h2 {
        max-height: 20%; /* Adjust height as needed */
        font-size: auto; /* Adjust font size as needed */
    }
}
.ContentBody {
    flex: 1;
    background-color: #FFFFFF;
    padding: 20px; /* Add padding for spacing */
}

#my-profile-content {
    background-size: auto;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    background-position: center;
    height: 100%; /* Ensure it takes the full height of the ContentBody */
    display: flex;
    position: relative;
}
  

.cnt1 img {
    max-width: 125px;
}

.cnt1 button {
    width: fit-content;
    align-self: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #193635;
    color: white;
    font-weight: bold;
    font-size: large;
    margin-top: 5px;
    z-index: 100;
}

.cnt1 button:hover {
    cursor: pointer;
}

.cnt1 button:active {
    cursor: grab;
    scale: 0.9;
}

#saveButton {
    position: absolute; 
    bottom: 0; 
    right: 0;
    width: fit-content;
    align-self: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #193635;
    color: white;
    font-weight: bold;
    font-size: large;
    margin-top: 5px;
    z-index: 100;

}

.cnt2 {

    display: flex;
    flex-direction: column;
    align-items: center;  
    font-size: 1rem;
    max-width: 300px;
    justify-content: center;
}

.cnt2 img{

    max-width: 100px;
}
.cnt3 {
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
}
.cnt3 h2{
    transform: translate(-50%,10%);
}
.bio-textbox {
    max-height: 150px;
    max-width: 300px;
    height: 150px;
    width: 300px;
    padding: 10px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    border: 1px solid #ccc; /* Add border for visual clarity */
    border-radius: 5px; /* Add border radius for rounded corners */
    margin-top: 10px; /* Add margin to create space */
}

@media (max-width: 1230px) { /* Adjust breakpoint as needed */
    .bio-textbox {
        width: 100%; /* Set width to 100% when screen width is less than or equal to 600px */
        max-width: none; /* Remove max-width constraint */
        height: auto; /* Allow height to adjust based on content */
    }
}

.cnt4{
    display: flex;
    flex-direction: column;
    font-size: 1.75rem;
    gap: 10px;
}
.contact-info{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.contact-info img {
    height: 35px;
    margin-right: 5px;
}
.contact-info div {
    padding: 5px;
}
.socialmedia-links img{
    height: 35px;
    margin-right: 20px;
}

.socialmedia-links button{
    background-color: transparent;
    margin: 0;
    padding: 0;
    align-self: center;
    border: none;
}
.card-container {
    display: flex;
    align-items: center;
    flex: 1;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.table-container {
    display: flex;
    align-items: center;
    flex: 1;
    margin-bottom: 20px;
}

.card{
    background-color: #d3d3d3;
    border: 5px solid black;
    margin: 70px 20px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    max-width: 400px;
    max-height: 600px;
    overflow: hidden;
}

.profileImage {
    position: absolute;
    left: 20px;
    top: 5px;
}
.image-container{
    width: 100%;
    height: 65%;
    position: relative;
    border-bottom: 5px solid black;
}
.text-container{
    width: 100%;
    height: 35%;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-left: 2px;
    font-size: 1.7vh;
    position: relative;
}
.card-details span{
    font-size: 1.9vh;
    margin-right: 10px;
    font-weight: 600;
}

.text-container > div{
    flex: 50%;
}

.image-container img{
    width: 100%;
    height: 100%;
    
}

#my-events-content {

        background-size: auto;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0.5);
        background-position: center;
        height: 100%; /* Ensure it takes the full height of the ContentBody */
        display: flex;
        position: relative;
}

#my-status-content {
    background-size: auto;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    background-position: center;
    height: 100%; /* Ensure it takes the full height of the ContentBody */
    display: flex;
    position: relative;
}

.Active{
    position: absolute;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: green;
    top: 1px;
    right: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*------ FONT RELATED -----*/
    font-size: 2vh;
    color: white;
    font-weight: 600;
}
.not-active{
    position: absolute;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: orange;
    top: 1px;
    right: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*------ FONT RELATED -----*/
    font-size: 2vh;
    color: white;
    font-weight: 600;
}

.canceled{
    position: absolute;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: red;
    top: 1px;
    right: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*------ FONT RELATED -----*/
    font-size: 2vh;
    color: white;
    font-weight: 600;
}

.editanddeleteContainer {
    position: absolute;
    border-radius: 50%;
    top: 1px;
    left: 1;
    display: flex;
    align-items: first baseline;
    width: 13%;
    height: 13%;
    /*------ FONT RELATED -----*/
    font-size: 2vh;
    color: white;
    font-weight: 600;
    gap: 5px;
    margin: 5px 0 0 5px;
}
.image {
    width: 30px;
    height: 30px;
    
}

.image img {
    width: 100%;
    height: 100%;
}

.editanddeleteContainer button {
    width: 30px;
    height: 30px;
    padding: 0; /* Remove padding to ensure the button fills the container */
    border: none; /* Remove border */
    background: transparent; /* Make background transparent */
}

.editanddeleteContainer form button img {
    width: 100%;
    height: 100%;
}

.editanddeleteContainer button:hover {
    cursor: pointer;
}


.editanddeleteContainer img:hover {
   cursor: pointer;
} 
.editanddeleteContainer form {
    width: 100%;
    height: 100%;
}

.indivisual-card-container{
    display: flex;
    flex-direction: column;
}

.events-save-button {
    width: fit-content;
    align-self: flex-end;
    scale: 1.5;
    background-color: #193635;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-right: 30px;
    display: none;
}

.upload {

    position: absolute;
    top:  -40px;
    right: -135px;
    display: none;
}
/* CSS for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 11111;
    left: 0;
    top: 0;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    height: 900px;
    width: 500px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.uploadBtn {
    width: fit-content;
    scale: 1.5;
    background-color: #193635;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-right: 30px;
    z-index: 1001;
    position: absolute;
    bottom: 10px;
    right: -10px;
    display: none;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



.content-container {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-bottom: 30px ;
}

.content-containerManager{
    display: flex;
    justify-content: space-around;
}

.CLMNAMES {
    display: flex;
    flex-direction: column;
    align-items: center;  
    font-size: 1rem;
    max-width: 300px;
    justify-content: space-evenly;
}

.CLMNAMES img{
  max-width: 100px;
  border-radius: 50px;
}

.content-containerManager .CLMNAMES>h1{
    text-align: center;
}

/*
STYLES FOR TABLE IN STATUS
*/

main.table {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    padding: 15rem 1rem 0.8rem;


    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 8%;
    background-color: #fff4;
   

    display: flex;
    justify-content: space-evenly; /* Changed */
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow-y: auto;
    overflow: overlay;
    
}


.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}


table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    top: 0;
    left: 0;
    background-color: #193635;
    cursor: pointer;
    text-transform: capitalize;
    color:white;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .6rem 1rem; /* Adjust padding as needed */
    border-radius: 2rem;
    text-align: center;
    display: inline-block; /* Ensure inline-block to set width */
    width: 155px; /* Adjust width as needed */
}

.status.approved {
    background-color: #289e46;
    color: white;
}

.status.rejected {
    background-color: rgb(214, 60, 60);;
    color: white;
}

.status.pending {
    background-color: #ebc474;
    color: #000;
}

@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1.7rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #ffd700;
}

thead th:hover {
    color: #ffd700;
}

thead th.active span.icon-arrow{
    background-color: #ffd700;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #0ab3ad;
}

.export__file {
    position: relative;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(images/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem #0004;
    
    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img{
    width: 2rem;
    height: auto;
}

.approve-button {
    height: 55px;
    width: 43%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #289e46;
    text-align: center;
    display: inline-block; /* Ensure inline-block to set width */
    
}
.reject-button {
    height: 55px;
    width: 40%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: rgb(214, 60, 60);
    text-align: center;
    display: inline-block; /* Ensure inline-block to set width */
    
}

.details-button{
    text-align: center;
    width: 67px;
    height: 60px;   
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: #0ab3ad
    
    
    
}



@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.sideBar {
    cursor: pointer;
    display: none;
}
.sideBar div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #fbfbfb;
}

@media only screen and (max-width: 1300px) {
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 900px) {
    .sideBar {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 70px;
        width: 100%;
        background: #193635;
        padding: 30px;
        transition: 0.3s;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li a {
        margin: 5px 0;
    }

    header .icons i#search-btn {
        position: absolute;
        top: 37px;
        right: 120px;    
    }

    header .icons i#log-btn {
        position: absolute;
        top: 37px;
        right: 70px;    
    }

}
 /*FOOTER*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #193635;
    
}
.footerContainer{
    padding: 20px 30px 10px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: #193635;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #7BD3D1;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
    color:#FFD700;
}
.footerBottom{
    background-color: #000;
    padding: 10px;
    text-align: center;
}
.footerBottom p{
    color: rgb(255, 255, 255);
}

@media (max-width: 900px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}

.reject-card1{
    display: none;
    position: absolute;
    top: 65%;
    left: 50%;   
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%); /* Center the popup */
    z-index: 9999; 
    width: 80%; 
    max-width: 600px; 
    padding: 20px;
    border-radius: 10px;
}

.reject-card1 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.reject-card1 input[type="text"] {
    width: 80%; /* Adjust width as needed */
    padding: 10px;
    margin-bottom: 10px;
    background-color: whitesmoke;

}

#closeButton2 {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    color: white;
    background-color: rgb(214, 60, 60);
}

#sendButton {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    color: white;
    background-color: #289e46;
}

.custom-table {
    border-collapse: collapse; /* Merge cell borders */
    width: fit-content; /* Set table width */
  }
  
  .custom-table td {
    border: 0px solid #000; /* Add border to table cells */
    padding: 0px; /* Add padding to table cells */
    padding-left: 1px;
    padding-right: 1px;
  }
  
  .column3 {
    width: 400px; /* Set width for the first column */
    aspect-ratio: 1; /* Ensure the column maintains a square aspect ratio */
    border: 2px solid black; /* Add a border for visualization */
  }
  
  #popup img {
    max-width: 100%; /* Ensure image fits within the column */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the image behaves as a block element */
    border-radius: 0%; /* Remove border radius */
    margin: auto; /* Center the image horizontally */
  }
  
  .popup-card {
    display: flex; /* Use flexbox to center the content */
    justify-content: center; 
    align-items: center;
    position: fixed; /* Position the popup fixed */
    top: 50%; /* Adjust the top position */
    left: 50%; /* Adjust the left position */
    transform: translate(-50%, -50%); /* Center the popup */
    z-index: 9999; 
    width: 30%; 
    max-width: 800px; /* Adjust the maximum width */
    height: 70%; /* Adjust the height */
    max-height: 600px; /* Adjust the maximum height */
    padding: 20px;
    border-radius: 10px;
    background-color: white; /* Add a background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a box shadow for depth */
    overflow: auto; /* Add overflow scrolling for content */
  }
  
  #closeButton {
    background-color: rgb(214, 60, 60);
    color: white;
    border-radius: 20%;
    width: 60px;
    height: 40px;
    position: absolute; /* Position the close button absolutely */
    bottom: 10px; /* Position the button 10px from the bottom */
    right: 10px; /* Position the button 10px from the right */
  }
  
  .icon:hover {
    filter: brightness(1.2); /* Increase brightness on hover (turns yellowish) */
}
  